
.leetcode_stopWatch{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 2px solid rgb(152, 150, 150);
    box-shadow:5px inset;
    border-radius: 5px;
    margin: auto;
    display: flex;
    align-items: center;
    width: max-content;
    height: 30px;
    background-color: aliceblue;
    box-shadow: 2px 2px 2px 1px rgba(255, 255, 255, 0.2);
}
.leetcode_Watch{
    display: inline-block;
    color: black !important;
    font-size: 20px;
    margin: 0 8px 0 8px;
}
.leetcode_stopWatch_img{
    cursor: pointer;
    margin: 0 8px 0 8px;
}